* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    margin: 0 auto;
    max-width: 45ch;
    padding-inline: 1.2rem;
}

a {
    display: block;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 33%;
}

a:hover {
    text-decoration: underline;
}

.title,
a {
    font-size: 2.4rem;
}

h1 {
    margin-block: 1.2rem;
}

h1, h2,
p, li {
    font-size: 2.13rem;
}

h2 {
    margin-block: 5rem 1.2rem;
}

ul {
    margin-bottom: 5rem;
}

ol {
    margin-bottom: 25%;
}



li {
    list-style-position: inside;
    margin-block: 1.2rem;
}

img {
    display: block;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1.08;
    height: 100%;
    width: 100%;
    margin-block: 2rem;
}

#denim-chicken {
    object-position: top;
}